/*---------Menu & Overlay Porperties----------*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(71, 67, 71, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 26px;
    color:silver;
    display: block;
    transition: 0.5s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
  
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}

.mainLogo{
    font-family: 'Teko', sans-serif;
    font-size: x-large;
}
/*-----------------------------------------------*/
/*General*/
h1{
    font-family: 'Teko', sans-serif;
    margin-left: 10px;
    text-decoration: underline;
  }
h2{
    font-family: 'Teko', sans-serif;
}
h3{
    font-family: 'Teko', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}


/*-----------MainArtical Picture------------*/
.mainPicture {
    height: auto;
    box-shadow: grey 1px 1px 1px;
    border-radius: 1px;
    width: 75%;
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .mainPicture {
        margin: 0 auto;
        width: 95%;
    }
  }
/*-----------------------------------------*/
/*---------------Footer---------------------*/
.mainfooter{
    text-align: center;
    font-size: 12px;
    font-family: 'Teko', sans-serif;
    min-width: 320px;
    max-width: 1600px;
}
/*-----------------------------------------*/
/*-----------------Layout------------------*/
.layout1{
    margin-left: 10px;
    padding-right: 5px;
}

@media screen and (max-width: 768px) {
    .layout1 {
        margin: 0 auto;
        width: 100%;
    }
  }
/*-------------Total Layout----------------*/
.totalLayout{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .col-1{
    width: 75%;
    padding-left: 1%;
    padding-right: 1%;
  }
  .col-2{
    width: 25%;
    padding-left: 1%;
    padding-right: 1%;
  }
  
  @media screen and (max-width: 768px) {
    .totalLayout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 95%;
        margin: 0 auto;
    }
    .col-1{
      width: 100%;
    }
  }

/*-------------otherArticles1--------------*/
.otherTitles{
    text-align: center;
    text-decoration: underline;
  }
  .otherArticles1{
    float: right;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .artBorder1{
    width: 95%;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 1px;
    cursor: pointer;
    border: 1px solid #ddd; /* Add a border to all links */
    background-color: #f6f6f6; /* Grey background color */
    padding: 5px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
    overflow: hidden;
  }
  .artBorder2{
    width: 95%;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 1px;
    cursor: pointer;
    border: 1px solid #ddd; /* Add a border to all links */
    background-color: #f6f6f6; /* Grey background color */
    padding: 5px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
    overflow: hidden;
  }
  .artBorder3{
    width: 95%;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 1px;
    cursor: pointer;
    border: 1px solid #ddd; /* Add a border to all links */
    background-color: #f6f6f6; /* Grey background color */
    padding: 5px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
    overflow: hidden;
  }
  .artBorder4{
    width: 95%;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 1px;
    cursor: pointer;
    border: 1px solid #ddd; /* Add a border to all links */
    background-color: #f6f6f6; /* Grey background color */
    padding: 5px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
    overflow: hidden;
  }
  .artTitle1{
    width: 95%;
    font-family: 'Teko', sans-serif;
    font-size: small;
  }
  .artTitle2{
    width: 95%;
    font-family: 'Teko', sans-serif;
    font-size: small;
  }
  .artTitle3{
    width: 95%;
    font-family: 'Teko', sans-serif;
    font-size: small;
  }
  .artTitle4{
    width: 95%;
    font-family: 'Teko', sans-serif;
    font-size: small;
  }
  #art1{
    width: 95%;
  }
  .art2{
    width: 95%;
  }
  .art3{
    width: 95%;
  }
  .art4{
    width: 95%;
  }
  @media screen and (max-width: 768px) {
    .otherArticles1 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    .col-2{
        margin: 0 auto;
        width: 100%;
    }
    .artBorder1{
        width: 24%;
    }
    .artBorder2{
        width: 24%;
    }
    .artBorder3{
        width: 24%;
    }
    .artBorder4{
        width: 24%;
    }
    .artTitle1{
        width: 99%;
        align-content: center;
    }
    .artTitle2{
        width: 99%;
        align-content: center;
    }
    .artTitle3{
        width: 99%;
        align-content: center;
    }
    .artTitle4{
        width: 99%;
        align-content: center;
    }
  }
/*OtherAds*/
.otherAdsTitle{
    text-align: center;
    text-decoration: underline;
}

.otherAdsLayout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 1px;
    padding-right: 1px;
}
@media screen and (max-width: 800px) {
    .otherAdsLayout {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0 auto;
        width: 100%;
    }
  }
#otherAdsIcon{
    padding-left: 1px;
    padding-right: 1px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

caption {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

li {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
}

.myGoogleAd{
    margin: 0 auto;
}

        /* Center the image */
        .mainPic1 {
          display: flex;
          justify-content: center;
      }

      /* Adjust the size of the image */
      img {
          max-width: 100%;
          height: auto;
      }

