body{
  background-color: white;
}
.mainTitle1{
  font-family: 'Teko', sans-serif;
  font-size: x-large;
}
.maintopic{
  font-size: 25px;
  min-width: 320px;
  max-width: 1600px;
  text-align: center;
  font-family: 'Teko', sans-serif;
  font-size: xx-large;
}

/*---------------------Paragraphs------------------------*/
.para1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 100%;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  border-radius: 2px;
}
#filter{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  margin: auto;
  vertical-align: middle;
  text-align: center;
}
.para2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  border-radius: 2px;
  max-width: 100%;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
}
/*------------------------Tables----------------------*/
#myTable {
  border-collapse: collapse;
  border: 1px solid;
  border-radius: 5px;
  font-size: 12px;
  max-width: 95%;
  min-width: 320px;
  margin: auto;
}
#myTable th, #myTable td {
  text-align: left;
}
#myTable th{
  background-color: floralwhite;
}
#myTable tr {
  border-bottom: 1px solid darkblue;
}
#myTable tr.header, #myTable tr:hover {
  background-color: whitesmoke;
  cursor: pointer;
}
/*-------------------------------------------------------*/
h1{
  font-family: 'Teko', sans-serif;
  text-align: center;
}
h2 {
  font-family: 'Teko', sans-serif;
  text-align: center;
}
h3{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(2, 2, 95);
}
#songstext {
  display: flex;
  flex-flow: row wrap;
}
#streamtabs {
  display: flex;
  flex-flow: row;
  flex-direction: row row-reverse;
}

/*-----------------NewMenu--------------------*/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(71, 67, 71, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 26px;
  color:silver;
  display: block;
  transition: 0.5s;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
/*---------Footer----------*/
.mainfooter{
  text-align: center;
  font-size: 12px;
  font-family: 'Teko', sans-serif;
  min-width: 320px;
  max-width: 1600px;
}

.mainAd {
  margin: 0 auto;
  text-align: center;
}

.adArtMain {
  height: 100px;
}

.mainAd:hover .adArtMain {
  opacity: 0.3;
  transition: .5s ease;
  backface-visibility: hidden;
}

.adsPic1 {
  max-height: 100px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.otherAdsTitle {
  text-align: center;
  text-decoration: underline;
}

.otherAdsLayout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#otherAdsIcon {
  padding: 0;
}