body{
  background-image: linear-gradient(to bottom, white, lavender,rgb(224, 206, 228),rgb(157, 141, 241));
}

header{
    border-style: solid;
    border-width: thick;
    border-color: darkblue;
    text-align: center;
    font-size: 50px;
    color: rgb(240, 229, 84);
    border-radius: 5px;
    margin: 0 auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url(https://cdn.pixabay.com/photo/2015/10/29/14/38/web-1012467_1280.jpg);
}

footer{
    border-style: solid;
    border-width: thick;
    border-color: darkblue;
    text-align: center;
    font-size: 16px;
    color: rgb(240, 229, 84);
    padding-top: 5px;
    border-radius: 5px;
    margin: 0 auto;
    background-image: url(https://cdn.pixabay.com/photo/2015/10/29/14/38/web-1012467_1280.jpg);
}
.footerspace1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerspace1 div{
  width: 100%;
}
.socialicons1{
  display: flex;
  align-items: center;
}
.socialicons2{
  display: flex;
  align-items: center;
}



#navbar1{
  margin: 0 auto;
  width: 100%;
}
ul {
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  font-family: sans-serif;
  margin: 0 auto;
}
li {
float: left;
padding: 1px;
}
li a {
  display: block;
  color: darkblue;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  border-color: darkblue;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
}
li a:hover:not(.active) {
  background-color: darkblue;
  color: yellow;
  border-radius: 5px;
}
.active {
  background-color: purple;
  color: yellow;
  border-radius: 5px;
  border-width: thin;

}



#paragraphs1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 10px;
    width: 100%;
    border-style: solid;
    border-width: thin;
    border-radius: 2px;
}
#paragraphs2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 10px;
    width: 95%;
    border-style: solid;
    border-width: thin;
    border-radius: 2px;
    box-shadow: black;
}

.flex-container {
    display: flex;
    align-items: center flex-start;
    justify-content: center space-evenly;
    padding-bottom: 10px;
}
.flex-container div {
    width: 100%;
    padding: 12px;

}



#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid darkblue;
  font-size: 12px;
}

#myTable th, #myTable td {
  text-align: left;

}

#myTable th{
  background-color: floralwhite;
}

#myTable tr {
  border-bottom: 1px solid darkblue;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

h2{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(2, 2, 95);
}