body{
  background-image: white;
}

.myGoogleAd{
  margin: 0 auto;
}

.mainTitle1{
  font-family: 'Teko', sans-serif;
  font-size: x-large;
}
.maintopic{
  font-size: 25px;
  min-width: 320px;
  max-width: 1600px;
  text-align: center;
  font-family: 'Teko', sans-serif;
  font-size: xx-large;
}
.mainfooter{
  text-align: center;
  font-size: 12px;
  font-family: 'Teko', sans-serif;
  min-width: 320px;
  max-width: 1600px;
}
/*---------------------Paragraphs------------------------*/

h2 {
  font-family: 'Teko', sans-serif;
  text-align: center;
}
h3{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(2, 2, 95);
}
#songstext {
  display: flex;
  flex-flow: row wrap;
}
#streamtabs {
  display: flex;
  flex-flow: row;
  flex-direction: row row-reverse;
}

/*------------------------Tables----------------------*/
#myTable {
  font-size: 12px;
  border-radius: 10px;
  border-width: thin;
  box-shadow: 1px 1px 3px grey;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  max-width: 95%;
  min-width: 320px;
  margin: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#myTable th, #myTable td {
  text-align: left;
}
#myTable th{
  background-color: lightblue;
  text-decoration: underline solid;
  font-size: medium;
  border-radius: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#myTable tr {
  padding-bottom: 1px;
  padding-top: 1px;
}
#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

/*-----------------NewMenu--------------------*/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(71, 67, 71, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 26px;
  color:silver;
  display: block;
  transition: 0.5s;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/*Ads*/
.catchyAds1 {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;

}

.adPicContent {

  padding: 2px 2px 2px 2px;
  
}

.adsPic1 {
  max-height: 100px;
  display: flex;
  justify-content: center;
  margin: 0 auto;

}
