body{
  background-image: linear-gradient(to right, lavender, white);
}
.mainTitle1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: x-large;
  color: darkblue;
  text-shadow: white 1px 1px 1px;
}
.maintopic{
  color:darkblue;
  text-align: center;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  min-width: 320px;
  max-width: 1600px;
}
.mainfooter{
  color:darkblue;
  background-color: lavender;
  text-align: center;
  font-size: 12px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  min-width: 320px;
  max-width: 1600px;
}
/*---------------------Paragraphs------------------------*/
.griditems1{
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 1em;
  padding-left: 3%;
}
@media screen and (max-width: 600px) {
  .griditems1 {
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    padding-left: 5%;
  }
}

.para1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  border-radius: 1px;
  padding-right: 5%;
  border-radius: 2px;
  box-shadow: 2px 3px 3px grey;
  background-color: whitesmoke;
}

.vidWrapper1{

  display: flex;
  justify-content: center;

}

@media screen and (max-width: 600px) {
  .vidWrapper1 {
    display: flex;
    justify-content: center;
    width: 340px;
    padding-left: 3%;
  }
}

.craziestVid1{
  text-align: center;
  font-style: italic;
  font-weight: bolder;
  text-decoration: underline; 
  
}

#filter{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin: auto;
  vertical-align: middle;
  text-align: center;
}
.para2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 10px;
  border-radius: 2px;
  max-width: 100%;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  box-shadow: 2px 3px 3px grey;
  background-color: whitesmoke;
}
/*------------------------Tables----------------------*/
#myTable {
  border-collapse: collapse;
  border: 1px solid darkblue;
  font-size: 12px;
  border-radius: 5px;
  max-width: 100%;
  min-width: 320px;
  margin: auto;
}
#myTable th, #myTable td {
  text-align: left;
}
#myTable th{
  background-color: floralwhite;
}
#myTable tr {
  border-bottom: 1px solid darkblue;
}
#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
/*-------------------------------------------------------*/
h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(2, 2, 95);
  font-size: 21px;
}
h2{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(2, 2, 95);
}
h3{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(2, 2, 95);
}
#songstext {
  display: flex;
  flex-flow: row wrap;
}
#streamtabs {
  display: flex;
  flex-flow: row;
  flex-direction: row row-reverse;
}

/*-----------------NewMenu--------------------*/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(71, 67, 71, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 26px;
  color:silver;
  display: block;
  transition: 0.5s;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}