body{
  background-image: linear-gradient(to bottom, white, lavender,rgb(224, 206, 228),rgb(152, 138, 223));
}

header{
    min-width: 375px;
    max-width: 99%;
    margin: 5px;
    text-align: center;
    font-size: 50px;
    color: rgb(240, 229, 84);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url(https://cdn.pixabay.com/photo/2015/10/29/14/38/web-1012467_1280.jpg);
}

footer{
    min-width: 375px;
    max-width: 99%;
    margin: 5px;
    text-align: center;
    font-size: 14px;
    color: rgb(240, 229, 84);
    background-image: url(https://cdn.pixabay.com/photo/2015/10/29/14/38/web-1012467_1280.jpg);
    padding-top: 5px;
}

.footerspace1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerspace1 div{
  width: 100%;
}
.socialicons1{
  display: flex;
  align-items: center;
}
.socialicons2{
  display: flex;
  align-items: center;
}


#navbar1{
  margin: 0 auto;
  width: 100%;
}
ul {
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  font-family: sans-serif;
  margin: 0 auto;
}
li {
float: left;
padding: 1px;
}
li a {
  display: block;
  color: darkblue;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  border-color: darkblue;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
}
li a:hover:not(.active) {
  background-color: darkblue;
  color: yellow;
  border-radius: 5px;
}
.active {
  background-color: purple;
  color: yellow;
  border-radius: 5px;
  border-width: thin;
}


#paragraphs1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 10px;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    min-width: 375px;
    max-width: 99%;
    margin: 5px;
}
#paragraphs2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 10px;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  min-width: 375px;
  max-width: 99%;
  margin: 5px;
}


.flex-container {
    display: flex;
    align-items: center space-evenly;
    justify-content: space-evenly;
    padding-bottom: 10px;
}
.flex-container div {
    width: 100%;
}


#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid darkblue;
  font-size: 11px;
  border-radius: 10px;
}
#myTable th, #myTable td {
  text-align: left;
}
#myTable th{
  background-color: floralwhite;
}
#myTable tr {
  border-bottom: 1px solid darkblue;
}
#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(2, 2, 95);
}
h2{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(2, 2, 95);
}

h3{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(2, 2, 95);
}

.box {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

#songstext {
  display: flex;
  flex-flow: row wrap;
}

#streamtabs {
  display: flex;
  flex-flow: row;
  flex-direction: row row-reverse;
}
