body{
  background-image: linear-gradient(to bottom, white, lavender,rgba(220, 198, 224, 1), rgba(83,51,0237,1));
}

header{
  border-style: solid;
  border-width: thick;
  border-color: darkblue;
  text-align: center;
  font-size: 50px;
  color: rgb(240, 229, 84);
  text-shadow: darkslateblue 1px;
  border-radius: 5px;
  margin: 0 auto;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-image: url(https://cdn.pixabay.com/photo/2015/10/29/14/38/web-1012467_1280.jpg);
}

footer{
  border-style: solid;
  border-width: thick;
  border-color: darkblue;
  text-align: center;
  font-size: 16px;
  color: rgb(240, 229, 84);
  padding-top: 5px;
  border-radius: 5px;
  margin: 0 auto;
  background-image: url(https://cdn.pixabay.com/photo/2015/10/29/14/38/web-1012467_1280.jpg);
}
.footerspace1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerspace1 div{
  width: 75%;
}
.socialicons1{
  display: flex;
  align-items: center;
}
.socialicons2{
  display: flex;
  align-items: center;
}



#navbar1{
    margin: 0 auto;
    width: 100%;
}
ul {
  list-style-type: none;
  overflow: hidden;
  background-color: darkblue;
  width: 99%;
  padding-left: 1%;
  font-family: sans-serif;
  margin: 0 auto;
  border-style: solid;
  border-width: thin;
}
li {
float: left;
}
li a {
  display: block;
  color: lavender;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom-color: aliceblue;
}
li a:hover:not(.active) {
background-color: lavender;
color: darkblue;
border-radius: 5px;
}
.active {
background-color: lavender;
color: darkblue;
border-radius: 5px;
}



#paragraphs1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-left: 2px;
    width: 100%;
}
#paragraphs2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    padding-top: none;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    align-items: center flex-start;
    justify-content: center space-evenly;
    padding-right: 14px;
    padding-bottom: 10px;
}
.flex-container div {
    width: 100%;
}



#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid darkblue;
  font-size: 12px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 2px;
}

#myTable th{
  background-color: floralwhite;
}

#myTable tr {
  border-bottom: 1px solid darkblue;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

#paragraphs1:hover{
  cursor: pointer;
}
#paragraphs2:hover{
  cursor: pointer;
}