body{
  background-image: white;
}
.mainTitle1{
  font-family: 'Teko', sans-serif;
  font-size: x-large;
}
.maintopic{
  font-size: 25px;
  min-width: 320px;
  max-width: 1600px;
  text-align: center;
  font-family: 'Teko', sans-serif;
  font-size: xx-large;
}
.mainfooter {

  text-align: center;
  font-size: 12px;
  font-family: 'Teko', sans-serif;
  min-width: 320px;
  max-width: 1600px;
}

/*-------------------------------------------------------*/
h1 {
  font-family: 'Teko', sans-serif;
  text-align: center;
}
h2 {
  font-family: 'Teko', sans-serif;
  text-align: center;
}
h3{
  font-family: 'Teko', sans-serif;
  text-align: center;
}

/*-----------------NewMenu--------------------*/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(71, 67, 71, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 26px;
  color:silver;
  display: block;
  transition: 0.5s;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.tiktokLayout{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 95%;
}
/*
.div1{

}
.div2{
  
}
.div3{
  
}
.div4{
  
}
.div4{
  
}
.div5{
  
}
.div6{
  
}
.div7{
  
}
.div8{
  
}
*/