body{
  background-color: lavender;
}
.topnav {
  overflow: hidden;
  background-color:darkorchid;
  position: relative;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  min-width: 320px;
  max-width: 1600px;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: whitesmoke;
  outline: auto black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

.topnav a.icon {
  background: purple;
  display: table-row;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: darkblue;
  color: yellow;
}

.active {
  background-color: darkblue;
}

.mainheader{
  outline: auto;
  outline-color: darkblue;
  color:darkblue;
  background-color: darksalmon;
  text-align: center;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  min-width: 320px;
  max-width: 1600px;
}
.mainfooter{
  outline: auto;
  outline-color: darkblue;
  color:darkblue;
  background-color: darksalmon;
  text-align: center;
  font-size: 12px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  min-width: 320px;
  max-width: 1600px;
}

.box{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

/*-----------------------------------------------*/

#paragraphs1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 10px;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    max-width: 100%;
}
#paragraphs2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 10px;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  max-width: 100%;
}

.flex-container {
    display: flex;
    align-items: center space-evenly stretch;
    justify-content: space-evenly;
    padding-bottom: 10px;
}
.flex-container div {
    width: 100%;
}

#myTable {
  border-collapse: collapse;
  border: 1px solid darkblue;
  font-size: 11px;
  border-radius: 10px;
}
#myTable th, #myTable td {
  text-align: left;
}
#myTable th{
  background-color: floralwhite;
}
#myTable tr {
  border-bottom: 1px solid darkblue;
}
#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(2, 2, 95);
  font-size: 21px;
}
h2{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(2, 2, 95);
}

h3{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(2, 2, 95);
}

.box {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

#songstext {
  display: flex;
  flex-flow: row wrap;
}

#streamtabs {
  display: flex;
  flex-flow: row;
  flex-direction: row row-reverse;
}
